header {
	background-color: black;
	padding: 10px 0 10px 0;
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-around;
}

.nav {
	margin-right: 10px;
	transition: .2s;
}

.nav:hover {
	border-bottom: 1px solid white;
	transition: .2s;
}

.compass {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0;
}
