.working__p {
	text-align: left;
}

.working__img {
	height: 300px;
	width: 550px;
	margin-bottom: 80px;
	}

h4 {
	margin:30px;
	display: block;
	text-align: center;
	position: relative;
	margin-bottom: 90px;
}	

h4:before {
	content: "";
	border: 1px solid black;
	width: 1px;
	width: 50px;
	background-color: black;
	position: absolute;
	transform: rotate(90deg);
	bottom: -30px;
	right: 465px;
}

h4:after {
	content: "";
	width: 20px;
	height: 20px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	position: absolute;
	transform: rotate(-45deg);
	bottom: -70px;
	right: 480px;

}